
<p>
  <strong>Number:</strong>
  <%= @vote.number %>
</p>

<p>
  <strong>Committee:</strong>
  <%= @vote.committee.name %>
</p>

<p>
  <strong>Constituency:</strong>
  <%= @vote.constituency.name %>
</p>

<p>
<%= link_to 'Edit', edit_vote_path(@vote) %> |
<%= link_to 'Back', form_index_path %>
</p>