
<h1>Listing committees</h1>
<% @committees.each do |committee| %>
<%= render "committees/committees_row", committee: committee %>
<%= link_to 'Show', committee %>
<%= link_to 'Edit', edit_committee_path(committee) %>
<%= link_to 'Destroy', committee, method: :delete, data: { confirm: 'Are you sure?' } %>

<% end %>
<br>
<%= link_to 'New Committee', new_committee_path %>