<!DOCTYPE html>
<html>
<head>
  <title>Elections</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	
		<% if current_user %> 
		Zalogowany jako <strong><%= current_user.login %> </strong>
		<i class="fa fa-lock"></i><%= link_to "Wyloguj się", :logout %>
		<% else %> 
		<i class="fa fa-lock"></i><%= link_to "Zaloguj się", :login %> 
		<% end %> 
	<p id="notice"><%= notice %></p>

<%= yield %>

</body>
</html>
