<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @constituency.name %>
</p>

<p>
  <strong>Mandate number:</strong>
  <%= @constituency.mandate_number %>
</p>

<p>
  <strong>Authorized number:</strong>
  <%= @constituency.authorized_number %>
</p>

<p>
  <strong>Empty votes:</strong>
  <%= @constituency.empty_votes %>
</p>

<p>
  <strong>Many votes:</strong>
  <%= @constituency.many_votes %>
</p>

<p>
  <strong>Other votes:</strong>
  <%= @constituency.other_votes %>
</p>

<p>
  <strong>Given cards:</strong>
  <%= @constituency.given_cards %>
</p>

<p>
  <strong>Province:</strong>
  <%= @constituency.province.name %>
</p>

<%= link_to 'Edit', edit_constituency_path(@constituency) %> |
<%= link_to 'Back', constituencies_path %>
