<p id="notice"><%= notice %></p>
<p>
<strong>Login:</strong>
<%= @user.login %>
</p>
<p>
<strong>Role:</strong>
<%= @user.role %>
</p>
<p>
<strong>Constituency:</strong>
<%= @user.constituency_id %>
</p>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
